@{
    ViewData["Title"] = "Create Entry";
}


<div class="text-center" style="padding-top:1rem">
    <h1 class="text-primary">Create New Entry</h1>

    <form class="form-control-lg" method="post">
        <div class="border p-3 mt-4">
            <div class="mb-4">
                <label class="mb-2" style="float:left">Enter Your Numbers:</label>
                <input type="number" class="form-control" />
                
            </div>
            <div class="mb-4">
                <label class="mb-2" style="float:left">Sorting Preference</label>
                <select class="form-select">
                    <option value="Ascending">Ascending</option>
                    <option value="Descending">Descending</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="wift:150px">
                Back Home
            </a>
        </div>
    </form>

</div>